@import '../../styles/util.scss';

.container {
  width: 100%;

  margin-top: 100px;

  text-align: center;
}

.header {
  font-family: $font-logo;
  font-size: $font-mega;
  color: #fff;
}
.sub-header {
  font-family: $font-body;
  font-size: $font-sub-header;
  color: #fff;
}

.input-container {
  max-height: 700px;
  transition: max-height .3s ease-in-out;
}

.input-container-collapse {
  max-height: 0;
}

.divider {
  @include divider($color-blue);
  width: 90%;
  @include respond-to('medium') {
    width: 500px;
    transition: width 0.3s;
  }
  padding: $padding-default;
  margin: 1.2rem auto;
}

.button {
  display: block;
  padding: $padding-default;
  color: white;
  font-size: $font-sub-header;
  font-family: $font-input;
  text-align: center;
  width: 90%;
  @include respond-to('medium') {
    width: 500px;
    transition: width 0.3s;
  }
  margin: 1.2rem auto;
  @include rounded;
  @include button-bg($color-darkblue);
}

.fab {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  right: 20px;
  bottom: 20px;
  background: white;

  display: flex;
  align-items: center;
  justify-content: center;
}