@import '../../styles/util.scss';

.container {
  width: 100%;
  padding: 2rem 0;
  @include respond-to('medium') {
    width: 700px;
    min-width: 500px;
    padding: 2rem 5rem;
  }
  margin: 3rem auto;
  border-radius: 20px;
  background: #fff;
  @include box-shadow(5);
}

.header {
  font-size: $font-header;
  font-family: $font-header;
  color: $color-darkblue;
}
