
$font-header: 1.8rem;
$font-sub-header: 1.3rem;
$font-medium: 16px;
$font-large: 24px;
$font-huge: 48px;
$font-mega: 64px;

$font-body: 'Nanum Gothic', sans-serif;
$font-logo: 'Pacifico', monospace, sans-serif;
$font-input: 'Ubuntu', 'Nanum Gothic', sans-serif;

$color-pupple: #384177;
$color-light-pupple: #445484;
$color-emerald: #52aeac;
$color-orange: #eb9d2e;
$color-dark-naby: #0d3640;

$padding-default: 0.5rem;