
$font-header: 1.8em;
$font-sub-header: 1.3em;
$font-medium: 16px;
$font-large: 24px;
$font-huge: 48px;
$font-mega: 64px;

$font-body: 'Nanum Gothic', sans-serif;
$font-logo: 'Pacifico', monospace, sans-serif;
$font-input: 'Ubuntu', 'Nanum Gothic', sans-serif;
$font-header: 'Rammetto One', 'Nanum Gothic', monospace;
$color-pupple: #384177;
$color-light-pupple: #445484;
$color-emerald: #52aeac;
$color-orange: #eb9d2e;
$color-dark-naby: #0d3640;

$color-blue: #0b75b8;
$color-skyblue: #4cbbfb;
$color-darkblue: #045d93;
$color-lightblack: #485156;
$color-cyan: #5795b5;

$padding-default: 0.5rem;