@import '../../styles/util.scss';

.container {
  width: 100%;
}

.inputWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.headerWrapper {
  font-family: $font-logo;
  font-size: $font-header;
  color: $color-pupple;
  text-align: center;
}
.testWrapper {
  margin: auto !important;
  width: 90vw !important;
  height: calc(90vw * 1080 / 1920) !important;
}
.testarea {
  width: 100% !important;
  height: 100% !important;
  margin: auto !important;
  transition: none !important;
  line-height: 1.5;
  background: white !important;
  text-align: center;
  resize: none;
  font-size: 32px;
}
